

<div class="sidebar">
    
    <ul>
        <li>Gender</li>
        <ul>
            <li>Create</li>
            <li>Edit</li>
        </ul>
        <li>Movies</li>
         <ul>
            <li>Create</li>
            <li>Edit</li>
        </ul>
    </ul>



</div>