

<div class="sidebar">
    
    <ul>
        <li>Gender</li>
        <ul>
            <li><a asp-controller="GenreController" asp-action="create"> Create</a></li>
            <li><a asp-controller="genre" asp-action="list"> List</a></li>

        </ul>
        <li>Movies</li>
        <ul>
            <li><a asp-controller="movie" asp-action="create"> Create</a></li>
            <li><a asp-controller="movie" asp-action="list"> List</a></li>

        </ul>
    </ul>



</div>