



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Título</th>
      <th scope="col">Data de lançamento</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>

      @foreach(var movie in Model)
      {
         <tr>
             <th scope="row">1</th>
             <td>@movie.Title</td>
             <td>@movie.ReleaseDate</td>
             <td><a asp-route-id="@movie.Id" asp-action="Delete" asp-controller="Movie"><i class="bi bi-trash-fill"></i></a></td>
        </tr>
      }
  </tbody>
</table>